* {
    margin: 0;
}

html,
body {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 1280px;
    height: 720px;

}

.board {

    transition: height 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    height: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pool {
    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75%;
    transition: height .5s ease-in-out;
    overflow-y: scroll;
}

.btnPool {
    background-color: tomato;
    position: absolute;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    transform: translate(0, -50%);
    cursor: pointer;
    box-shadow: 0 0 0 .1px tomato;
    transition: box-shadow 0.2s ease-in-out;
}

.btnPool:hover {
    box-shadow: 0 0 0 7px tomato;
    transition: box-shadow 0.2s ease-in-out;
}

.poolWords {

    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.wordCard {
    background-color: white;
    width: 250px;
    padding: 25px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;


}

.boardCard {
    background-color: teal;
    color: white;

}

.openTitle {

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5F6FC;
    width: 1280px;
    height: 720px;
    transition: opacity .5s ease-in-out;
}

.openTitle>img {


    margin-left: 20px;
}

.openTitle>div {
    background-color: #F36D6D;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.openTitle>div>h1:nth-child(2) {
    color: #EED699;
    font-size: 21px;
}

.openTitle>div>h1:nth-child(3) {
    font-size: 29px;
}

.openTitle>h1 {
    font-family: 'Roboto', sans-serif;
    background-color: #EED699;
    font-size: 20px;
    padding: 10px 30px;
    color: #FAFAFA;
    border-radius: 50px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;

}

.openTitle>h1:hover {
    box-shadow: 0 0 0 5px #EED699;
    transition: box-shadow 0.2s ease-in-out;

}