* {
    margin: 0;
}

html,
body {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5F6FC;
    width: 1280px;
    height: 720px;

}

.board {

    transition: height 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    height: 25%;
    margin-top: 30px;
    margin-bottom: 30px;


}

.pool {
    background-color: #A2CCD9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75%;
    transition: height .5s ease-in-out;
    overflow-y: scroll;
}

.btnPool {
    background-color: #F36D6D;
    position: absolute;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    transform: translate(0, -50%);
    cursor: pointer;
    box-shadow: 0 0 0 .1px #F36D6D;
    transition: box-shadow 0.2s ease-in-out;
}

.btnPool:hover {
    box-shadow: 0 0 0 7px #F36D6D;
    transition: box-shadow 0.2s ease-in-out;
}

.poolWords {

    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 90%;

    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;


}

.wordCard {
    background-color: white;
    width: 250px;
    padding: 25px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;


}

.boardCard {
    background-color: teal;
    color: white;

}

.openTitle {

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5F6FC;
    width: 1280px;
    height: 720px;
    transition: opacity .5s ease-in-out;
}

.openTitle>div {

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity .5s ease-in-out;
}

.openTitle>div>img {


    margin-left: 30px;
}

.openTitle>div>div {
    background-color: #F36D6D;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.openTitle>div>div>h1:nth-child(2) {
    color: #EED699;
    font-size: 21px;
}

.openTitle>div>div>h1:nth-child(3) {
    font-size: 29px;
}

.openTitle>h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    background-color: #EED699;
    font-size: 20px;
    padding: 10px 30px;
    color: #FAFAFA;
    border-radius: 50px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;

}

.openTitle>div>h1:hover {
    box-shadow: 0 0 0 5px #EED699;
    transition: box-shadow 0.2s ease-in-out;

}

.openTitle>img {
    display: none;
    width: 500px;
    margin-left: 40px;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}




@media (max-width: 1280px) {

    .game {

        width: 100%;


    }



}